/* use files */
@use 'colors' as c;
@use 'mixins' as m;
@use 'fonts' as f;

/* local variables*/
$text: c.$text-color;
$background: c.$body-bg;
$accent-txt: c.$body-bg;
$accent-bg: c.$text-color;
$link-txt: c.$warning;
$wc1: c.$wheel-color-1;
$wc2: c.$wheel-color-2;
$h1-txt: f.$ElM;
$h2-txt: f.$Rob;


/* Reset Page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: $background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.wrapper{
    display: flex;
    flex-direction: row;
}

.game-info-container{
    background-color: $accent-bg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    font-family: $h1-txt;
    overflow: hidden;
    justify-items: space-between;
}

.game-info{
    font-family: $h2-txt;
    justify-items: space-between;
}

.outer{
    transform-origin: (50%, 50%);
}

.inner{
    transform-origin: bottom center;
}

// inner container

.container{
    width: 500px;
    height: 500px;
    background-color: $accent-bg;
    border-radius: 50%;
    border: 15px solid #dde;
    position: relative;
    overflow: hidden;
    transition: .5s;
    z-index: 5;
}

.container div{
    height: 50%;
    width: 270px;
    position: absolute;
    clip-path: polygon(100% 0, 50% 100%, 0 0) ;
    transform: translateX(50%);

    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: $text;
    left: 100px;
    z-index: 1;
}

.container .sector1{
    background-color: $wc1;
    left: 50%;    
}

.container .sector2{
    background-color: $wc2;
    transform: rotate(60deg);
    z-index: 2;
}

.container .sector3{
    background-color: $wc1;
    transform: rotate(120deg);
    z-index: 2;
}

.container .sector4{
    background-color: $wc2;
    transform: rotate(180deg);
    z-index: 2;
}

.container .sector5{
    background-color: $wc1;
    transform: rotate(240deg);
    z-index: 2;
}

.container .sector6{
    background-color: $wc2;
    transform: rotate(300deg);
    z-index: 2;
}


.containera{
    width: 780px;
    height: 780px;
    border-radius: 50%;
    border: 15px solid #e2e2e2;
    margin-top: 3%;
    position: relative;
    overflow: hidden;
    transition: .5s;
    z-index: -4;
}

.containera div{
    height: 50%;
    width: 500px;
    position: absolute;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    transform: translateX(-50%);
    transform-origin: bottom;
    text-align: center;
    vertical-align: top;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: $text;
    left: 130px;
}


.containera .sector-1{
    background-color: $wc1;
    left: 50%;
    z-index: -2;    
}

.containera .sector-2{
    background-color: $wc2;
    transform: rotate(60deg);
    z-index: -2;  
}

.containera .sector-3{
    background-color: $wc1;
    transform: rotate(120deg);
    z-index: -2;  
}

.containera .sector-4{
    background-color: $wc2;
    transform: rotate(180deg);
    z-index: -2;  
}

.containera .sector-5{
    background-color: $wc1;
    transform: rotate(240deg);
    z-index: -2;  
}

.containera .sector-6{
    background-color: $wc2;
    transform: rotate(300deg);
    z-index: -2; 
}


.arrow{ 
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: $text;
}



.arrow{ 
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: $text;
}

.arrow::before{
    content: "\1F817";
    font-size: 50px;
}

#spin{
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #e2e2e2;
    text-transform: uppercase;
    border: 8px solid #fff;
    font-weight: bold;
    font-size: 20px;
    color: $text;
    width: 80px;
    height: 80px;
    font-family: sans-serif;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    letter-spacing: px;
}

#spinL{
    position: absolute;
    top: 35%;
    left: 15%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #e2e2e2;
    text-transform: uppercase;
    border: 8px solid #fff;
    font-weight: bold;
    font-size: 20px;
    color: $background;
    width: 80px;
    height: 80px;
    font-family: sans-serif;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    letter-spacing: px;
}

#spinR{
    position: absolute;
    top: 65%;
    left: 15%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #e2e2e2;
    text-transform: uppercase;
    border: 8px solid #fff;
    font-weight: bold;
    font-size: 20px;
    color: $background;
    width: 80px;
    height: 80px;
    font-family: sans-serif;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    letter-spacing: px;
}




