/*colour variables */

$body-bg: rgb(18, 18, 112);
$text-color: #fffacd;
$header-bg: #fffacd;
$header-color: rgb(18, 18, 112);
$logIn-bg: rgb(114, 172, 219);
$border: rgb(18, 18, 112);
$card-bg: dodgerblue;
$shadow: 20px 20px 20px rgba(84, 43, 117, 0.2);
$go-button: rgb(7, 81, 141);
$button-text: #fffacd;
$warning: rgb(238, 224, 26);
$wheel-color-1:#3f51b5;
$wheel-color-2:#ff9800;